.order-page{
    margin-top: 50px;
    display: flex;
    justify-content: space-around; 

}
.order-container{
    border-left: 1px dashed teal;
    padding: 0 40px;
    width: 30%;
    /* margin: auto; */
}
.ordered-container{
    width: 70%;

}
.order-info{
    margin: 0 auto;
}
.btn-confirm{
    margin: 0 auto;
}
.book-card{
    margin: 20px auto;
}